
# pycache
__pycache__/
*.py[cod]
*$py.class

#Labstep Auth
DataDashboard/auth/
#MDB auth
.env
# webapp admin password
DataDashboard/.streamlit/secrets.toml

# output
DataDashboard/webapp/static/tmp/
database_data