numpy==1.22.1
pandas==1.5.0
matplotlib==3.6.1
scikit-learn==1.1.2
scipy==1.7.3
seaborn==0.12.0
pymc3==3.11.5
patsy==0.5.3
lxml==4.9.1
ipython==8.5.0
pydot==1.4.2
graphviz==0.20.1
theano-pymc==1.1.2
xlrd==2.0.1
dexpy==0.12
openpyxl
plotly==5.10.0
notebook>=5.3
ipywidgets>=7.2

opentrons==6.1.0

streamlit